html
{
    scroll-behavior: smooth;
    scroll-padding-top: 1.5rem;
    scrollbar-width: none;
}
.brand-icon
{
    max-width: 4rem;
    max-height: 4rem;
}
.gradient-custom 
{
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.804),
        rgba(0, 0, 0, 0.501) 100%
    );
}
.nav-item::after 
{
    content:'';
    display:block;
    width:0px;
    height:2px;
    margin-left: auto;
    margin-right: auto;
    background:#ffffff;
    transition: 0.2s ease-in-out;}
.nav-item:hover::after
{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.wel-text
{
    font-size: 4rem;
    line-height: 55px;
}
.brand-name
{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 120px;
    font-weight: 700;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.nanum-gothic-regular
{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sawarabi-gothic-regular 
{
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
}
.about-title
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.about-dis
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
}
.sticky-icon  
{
    z-index:2;
    position:fixed;
    bottom:3%;
    width: fit-content;
    right:0%;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
} 
.sticky-icon a:hover i 
{
    transform: scale(1.1);
}
.sticky-icon a i 
{
	background-color: rgba(0, 0, 0, 0.529);
	height:40px;
	width:40px;
	color:#ffffff;
	text-align:center;
	line-height:40px;
	border-radius:50%;
    border: 1px solid rgb(77, 77, 77);
	margin-right:20px;
	transition:all 0.5s;
}
.parallax-section {
    background: no-repeat fixed;
    background-image: url(media/Home.png);
    height: 600px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.parallax-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0.501) 100%
    );
    z-index: -1;
}