html
{
    scroll-behavior: smooth;
    scroll-padding-top: 88px;
    scrollbar-width: none;
}
.brand-icon
{
    max-width: 4rem;
    max-height: 4rem;
}
.gradient-custom 
{
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.804),
        rgba(0, 0, 0, 0.501) 100%
    );
}
.nav-item::after 
{
    content:'';
    display:block;
    width:0px;
    height:2px;
    margin-left: auto;
    margin-right: auto;
    background:#ffffff;
    transition: 0.2s ease-in-out;}
.nav-item:hover::after
{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.wel-text
{
    font-size: 3rem;
    line-height: 60px;
}
.brand-name
{
    font-size: 5rem;
    font-weight: 400;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  